/* Contenedor de los botones */
.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Mostrar 5 botones por fila */
  gap: 30px; /* Espaciado entre botones */
  padding: 20px;
  justify-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

/* Estilos para cada botón individual */
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: var(--valor-gradiente);
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 150px;
  height: 180px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

/* Hover en botones */
.button:hover {
  background: var(--valor-gradiente-inv);
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Ocultar el banner en dispositivos móviles */
@media (max-width: 768px) {
  .banner-container {
    display: none !important;
  }
}


  .buttons {
    grid-template-columns: repeat(2, 1fr); /* 2 botones por fila */
    margin-left: 5%;
    margin-right: 5%;
    gap: 20px;
    padding: 10px;
  }

  .button {
    width: 85%; /* Ancho máximo disponible */
  }


