/* Importar fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Variables globales de tema */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background: #f8f9fa;
  --font-family: 'Poppins', sans-serif;
}

/* Modo oscuro */
.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --card-background: #1e1e1e;
}

/* Aplicar variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family); /* Aplicar la fuente moderna */
  transition: background-color 0.3s, color 0.3s;
}

.document-card {
  background-color: var(--card-background);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.active {
  color: darkgreen;
  font-weight: bold;
}
