/* Variables globales de tema */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background: #f8f9fa;
}

/* Modo oscuro */
.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --card-background: #1e1e1e;
}

/* Aplicar variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.document-card {
  background-color: var(--card-background);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}


.active {
  color: darkgreen;
  font-weight: bold;
}
